// GLOBAL VARS

// ------------------------------------------
// Fonts
$font-OpenSans: 'Open Sans', sans-serif;
$font-Mukta: 'Mukta', sans-serif;

// ------------------------------------------
// Colours
$color-background: #121212;