// GLOBAL VARS

// ------------------------------------------
// Fonts
$font-primary: 'Mukta', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

// ------------------------------------------
// Colours
$color-background: #121212;